* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    box-sizing: border-box;
    font-family: 'Technology',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    background-color: black;
    color: white;
    word-break: keep-all;
    cursor: default;
    height: 100vh;
}

.canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1300px;
    height: 920px;
    /* background-image: url('./images/las-vegas.jpg'); */
    background-color: black;
    background-size: 1300px;
}

.title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 17rem;
    font-weight: 900;
    /* letter-spacing: -22px; */
}

h5 {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: -2rem;
}

h4 {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    margin-top: -1rem;
}

.marquee-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-weight: 500;
    font-size: 2rem;
    z-index: 999;
    width: 1300px;
    /* mix-blend-mode: color-dodge; */
}

#top {
    margin-bottom: 2rem;
}